<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link type="text/css" rel="stylesheet" href="../../css/index.css">
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/index.js"></script>
</head>
<body>
<div class="container">
    <div class="login_wrapper">
        <div>
            <label class="label" for="js_username">用户名</label>
            <input id="js_username" placeholder="请输入用户名">
        </div>
        <div>
            <label class="label" for="js_password">密码</label>
            <input type="password" id="js_password" placeholder="请输入密码">
        </div>
        <button class="login" id="js_login">登录</button>
    </div>
</div>
</body>
</html>